.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
  box-sizing: border-box;
}

.card {
  width: 120px;
  height: 120px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 10px;
}

img {
  width: 70px;
}
